$font-color: #6e6e6e;
$second-bg-color: #e9effe;
$main-bg-color: #f4f4f5;
$elements-bg-color: #ffffff;

:export {
  fontColor: $font-color;
  secondBgColor: $second-bg-color;
  mainBgColor: $main-bg-color;
  elementsBgColor: $elements-bg-color;
}
